<html>
    <body>
        <h1>index.ejs sayfası<h1>
        
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tempora totam aliquid rem laboriosam sit perferendis non quisquam, 
            harum ducimus. Perspiciatis iusto error similique ipsam porro, 
            reiciendis expedita eos eum dolorum?</h2>

        <h2>
            <%= mesaj%>
        </h2>
    </body>

</html>